<!DOCTYPE html>
<html>
  <head>
    <title>SelfStudy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>    
    <header class="header">
      <%= link_to "App First", root_path, class: "main_header" %>
      <div class = "sub_header">
        <%= link_to "SERVICE", service_path, class: "left_header"%>
        <%= link_to "NEWS", news_path, class: "middle_header"%>
        <div class ="right_header">CONTACT</div>
      </div>
    </header>
    <%= yield %>
    <footer>
      <div class ="footer_message">Copyright©️2022 TECHCAMP</div>
    </footer>
  </body>
</html>.