<!DOCTYPE html>
<html>
  <head>
    <title>SelfStudy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>    
    <header class="header">
      <div class = "main_header">App First</div>
      <div class = "sub_header">
        <div class ="left_header">SERVICE</div>
        <div class ="middle_header">NEWS</div>
        <div class ="right_header">CONTACT</div>
      </div>
    </header>
    <%= yield %>
    <footer>
      <div class ="footer_message">Copyright©️2022 TECHCAMP</div>
    </footer>
  </body>
</html>
